<div>
    <h1>{{title}}</h1>
</div>
<div class="container text-center">
	<div class="jumbotron">
	  <h1>THE MONKEES!</h1>
	  <p><em>We're just messing around!</em></p>
	</div>
</div>
<hr>
	<div class="container-fluid text-center">			<!--4 column layout-->
		<div class='col-md-3'>
			<h2>Davy Jones</h2>
			<img class="img1" src="images/dj.jpg" alt="Davy Jones">
			<p>vocals, tambourine, maracas, drums, bass, guitar (1966–1971, 1986–1989, 1996–1997, 2001–2002, 2011–2012; died in 2012)
			</p>
		</div>
		<div class='col-md-3'>
			<h2>Michael Nesmith</h2>
			<img class="img1" src="images/mn.jpg" alt="Michael Nesmith">
			<p>guitar, vocals, keyboards (1966–1970, 1986, 1989, 1996–1997, 2012–2014, 2016)
			</p>
		</div>
		<div class='col-md-3'>
			<h2>Peter Tork</h2>
			<img class="img1" src="images/pt.jpg" alt="Peter Tork">
			<p> keyboards, bass, piano, guitar, vocals, banjo (1966–1968, 1986–1989, 1996–1997, 2001, 2011–present)
			</p>
		</div>
		<div class='col-md-3'>
			<h2>Micky Dolenz</h2>
			<img class="img1" src="images/md.jpg" alt="Micky Dolenz">
			<p>vocals, drums, moog synthesizer, guitar (1966–1971, 1986–1989, 1996–1997, 2001–2002, 2011–present)
			</p>
		</div>
	</div>